@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --Blue: hsl(223, 87%, 63%);
    --BlueOpacity: hsla(223, 87%, 63%, .5);
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
    --font-LibreFranklin: 'Libre Franklin', sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-LibreFranklin);
}

/* ROOT */
.root{
    width: 100%;
    position: relative;
}

/* CONTAINER */
.container{
    width: 50%;
    margin: 0 auto;
}

.header,
.main,
.footer{
    width: 100%;
    display: flex;
}

/* HEADER */
.header__logo{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

/* MAIN */
.main{
    flex-direction: column;
}

.main__text-description{
    text-align: center;
}

.main__text{
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__first{
    font-size: 3rem;
    color: var(--Gray);
}

.description__first span{
    font-weight: 700;
    color: var(--VeryDarkBlue);
}

.description__second{
    font-size: 1.2rem;
    color: var(--VeryDarkBlue);
    margin-top: 1rem;
}


/* FORM */
.main__text-form{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 2rem 0 5rem;
}

.main__text-form input{
    height: 3rem;
    border-radius: 2rem;
}

.main__text-form input[type=email]{
    width: 100%;
    padding: 0 1.2rem;
    border: 1px solid var(--Gray);
    outline: none;
}

.form-input{
    flex: 2 1 auto;
    position: relative;
}

.main__text-form input[type=button]{
    flex: 1 1 auto;
    background-color: var(--Blue);
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 2px 3px 5px var(--PaleBlue);
    transition-duration: .3s;
}

.main__text-form input[type=button]:hover{
    cursor: pointer;
    background-color: var(--BlueOpacity);
}

.form-error{
    width: 100%;
    padding-left: 1.2rem;
    position: absolute;
    bottom: -1.2rem;
    font-size: .75rem;
    font-style: italic;
    color: var(--LightRed);
    opacity: 0;
}

.form-error--active{
    opacity: 1;
}

/* MAIN IMAGE */
.main__image img{
    width: 100%;
}

/* FOOTER */
.footer{
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.footer___socialNetworks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer___socialNetworks picture{
    padding: .625rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--PaleBlue);
    border-radius: 50%;
    transition-duration: .3s;
}

.footer___socialNetworks picture:hover{
    background-color: var(--Blue);
}

.footer___socialNetworks picture:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(186deg) brightness(103%) contrast(103%);
    cursor: pointer;
}

.footer___socialNetworks picture>img{
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(39%) sepia(91%) saturate(993%) hue-rotate(204deg) brightness(98%) contrast(94%);
}

.footer__copyRight{
    margin: 2rem 0 3rem;
    color: var(--Gray);
}

/* ATTRIBUTION */
.developer{
    width: 3rem;
    height: 3rem;
    padding: .625rem;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 2px var(--PaleBlue);
    border-radius: 50%;
    right: 1rem;
    bottom: 6rem;
    animation-name: scale;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.developer>img{
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(39%) sepia(91%) saturate(993%) hue-rotate(204deg) brightness(98%) contrast(94%);
    cursor: pointer;
}

.attribution{
    background-color: #fff;
    box-shadow: 2px 2px 2px var(--PaleBlue);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: .75rem;
    padding: 1rem;
    border-radius: 1rem;
    transform: translateX(100%);
    transition-duration: .6s;
}

.attribution--active{
    transform: translateX(0);
}


@media only screen and (max-width: 576px){

    .container{
        width: 90%;
    }

    .description__first{
        font-size: 1.5rem;
    }

    .description__second,
    .footer__copyRight{
        font-size: .75rem;
    }

    .header__logo img{
        width: 70px;
    }

    .main__text-form{
        flex-direction: column;
        gap: 2.5rem;
    }

    .form-error{
        padding: 0;
        text-align: center;
    }

    .footer___socialNetworks picture{
        width: 2rem;
        height: 2rem;
        padding: .3125rem;
    }
}


