@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --Blue: hsl(223, 87%, 63%);
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
    --font-LibreFranklin: 'Libre Franklin', sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-LibreFranklin);
}

.container{
    width: 100%;
}

.header,
.main,
.footer{
    width: 100%;
    display: flex;
}

/* HEADER */
.header__logo{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* MAIN */
.main{
    flex-direction: column;
}

.main__text-description{
    text-align: center;
}

.main__text{
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__first{
    font-size: 3rem;
    color: var(--Gray);
}

.description__first span{
    font-weight: 700;
    color: var(--VeryDarkBlue);
}

.description__second{
    font-size: 1.2rem;
    color: var(--VeryDarkBlue);
}


/* FORM */
.main__text-form{
    width: 50%;
    display: flex;
    gap: 1rem;
}

.main__text-form input{
    height: 3rem;
    border-radius: 2rem;
}

.main__text-form input[type=text]{
    flex: 2 1 0;
    padding: 0 1.2rem;
    border: 1px solid var(--Gray);
}

.main__text-form input[type=button]{
    flex: 1 1 0;
    background-color: var(--Blue);
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 2px 3px 5px var(--PaleBlue);
}

/* MAIN IMAGE */
.main__image img{
    width: 100%;
}

/* FOOTER */
.footer{
    flex-direction: column;
    align-items: center;
}

.footer___socialNetworks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer___socialNetworks picture{
    padding: .625rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--PaleBlue);
    border-radius: 50%;
}

.footer___socialNetworks picture>img{
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(39%) sepia(91%) saturate(993%) hue-rotate(204deg) brightness(98%) contrast(94%);
    
}

.footer__copyRight{
    color: var(--Gray);
}





